@import "../../sass/variables.scss";

.NewContainer {
  padding: 0.5rem;
  margin: 0.5rem;
  width: 200px;
  height: 50px;
  background: $card-color;
  &:hover {
    background: fade-out($color: #2f412f, $amount: 0);
    border-radius: 8px;
  }
  > h6 {
    color: whitesmoke;
    cursor: pointer;
  }
}
.input {
  width: 250px;
  margin: 0.8rem;
  > input {
    width: 100%;
    border: none;
    outline: none;
    overflow: hidden;
    box-shadow: 5px 5px 5px $shadow;
  }
  > div {
    width: 100px;

    margin-top: 0.2rem;
    .button {
      color: white;
      border-radius: $radius;
      background-color: rgb(107, 214, 107);
    }
    .close {
      cursor: pointer;
      border-radius: $radius;
      color: aliceblue;
    }
  }
}
