@import "../../sass/variables.scss";

.card-content {
  margin: 0.5rem;
  background-color: $card-color;
  line-height: 1.4;
  border-radius: 5px;
  width: 300px;
  height: 100%;
  padding: 1rem;
  > div {
    > h4 {
      color: cornsilk;
      text-align: center;
    }
  }

  .todolist {
    width: 280px;
    border-radius: 4px;
    padding: 0.5em;
  }
}
